In [1]:
#libraries
import numpy as np
import pandas as pd

In [2]:
#data inspection
df_train = pd.read_csv('train.csv')
df_test = pd.read_csv('test.csv')
cols = list(df_train.columns)
print(df_train.shape)
print(cols)

(75757, 64)
['Year_Factor', 'State_Factor', 'building_class', 'facility_type', 'floor_area', 'year_built', 'energy_star_rating', 'ELEVATION', 'january_min_temp', 'january_avg_temp', 'january_max_temp', 'february_min_temp', 'february_avg_temp', 'february_max_temp', 'march_min_temp', 'march_avg_temp', 'march_max_temp', 'april_min_temp', 'april_avg_temp', 'april_max_temp', 'may_min_temp', 'may_avg_temp', 'may_max_temp', 'june_min_temp', 'june_avg_temp', 'june_max_temp', 'july_min_temp', 'july_avg_temp', 'july_max_temp', 'august_min_temp', 'august_avg_temp', 'august_max_temp', 'september_min_temp', 'september_avg_temp', 'september_max_temp', 'october_min_temp', 'october_avg_temp', 'october_max_temp', 'november_min_temp', 'november_avg_temp', 'november_max_temp', 'december_min_temp', 'december_avg_temp', 'december_max_temp', 'cooling_degree_days', 'heating_degree_days', 'precipitation_inches', 'snowfall_inches', 'snowdepth_inches', 'avg_temp', 'days_below_30F', 'days_below_20F', 'days_below_10F', 'days_below_0F', 'days_above_80F', 'days_above_90F', 'days_above_100F', 'days_above_110F', 'direction_max_wind_speed', 'direction_peak_wind_speed', 'max_wind_speed', 'days_with_fog', 'site_eui', 'id']

In [3]:
df_train[['Year_Factor', 'floor_area', 'year_built', 'energy_star_rating', 'ELEVATION', 'january_min_temp', 'january_avg_temp', 
'january_max_temp', 'february_min_temp', 'february_avg_temp', 'february_max_temp']].describe()

,Year_Factor,floor_area,year_built,energy_star_rating,ELEVATION,january_min_temp,january_avg_temp,january_max_temp,february_min_temp,february_avg_temp,february_max_temp
count,75757.000000,7.575700e+04,73920.000000,49048.000000,75757.000000,75757.000000,75757.000000,75757.000000,75757.000000,75757.000000,75757.000000
mean,4.367755,1.659839e+05,1952.306764,61.048605,39.506323,11.432343,34.310468,59.054952,11.720567,35.526837,58.486278
std,1.471441,2.468758e+05,37.053619,28.663683,60.656596,9.381027,6.996108,5.355458,12.577272,8.866697,8.414611
min,1.000000,9.430000e+02,0.000000,0.000000,-6.400000,-19.000000,10.806452,42.000000,-13.000000,13.250000,38.000000
25%,3.000000,6.237900e+04,1927.000000,40.000000,11.900000,6.000000,29.827586,56.000000,2.000000,31.625000,55.000000
50%,5.000000,9.136700e+04,1951.000000,67.000000,25.000000,11.000000,34.451613,59.000000,9.000000,34.107143,61.000000
75%,6.000000,1.660000e+05,1977.000000,85.000000,42.700000,13.000000,37.322581,62.000000,20.000000,40.879310,62.000000
max,6.000000,6.385382e+06,2015.000000,100.000000,1924.500000,49.000000,64.758065,91.000000,48.000000,65.107143,89.000000

In [4]:
df_train[['march_min_temp', 'march_avg_temp', 'march_max_temp', 'april_min_temp', 'april_avg_temp', 
'april_max_temp', 'may_min_temp', 'may_avg_temp', 'may_max_temp','june_min_temp', 'june_avg_temp', 
'june_max_temp']].describe()

,march_min_temp,march_avg_temp,march_max_temp,april_min_temp,april_avg_temp,april_max_temp,may_min_temp,may_avg_temp,may_max_temp,june_min_temp,june_avg_temp,june_max_temp
count,75757.000000,75757.000000,75757.000000,75757.000000,75757.000000,75757.000000,75757.000000,75757.000000,75757.000000,75757.000000,75757.000000,75757.000000
mean,21.606281,44.469292,70.897831,32.037171,53.784863,82.661932,44.706179,63.742547,88.987856,51.131763,71.066384,91.400280
std,10.004303,6.657142,7.680982,5.577279,2.500473,4.101028,4.200319,2.792919,2.864669,3.415926,2.861681,3.604068
min,-9.000000,25.854839,53.000000,15.000000,40.280000,62.000000,23.000000,46.950000,64.000000,30.000000,54.100000,67.000000
25%,13.000000,38.096774,62.000000,26.000000,52.333333,80.000000,42.000000,62.790323,88.000000,50.000000,70.983333,89.000000
50%,25.000000,44.516129,71.000000,32.000000,53.333333,82.000000,45.000000,62.887097,89.000000,52.000000,72.250000,90.000000
75%,27.000000,49.354839,78.000000,37.000000,54.766667,87.000000,49.000000,65.096774,91.000000,53.000000,72.450000,94.000000
max,52.000000,69.758065,95.000000,52.000000,74.500000,104.000000,58.000000,82.112903,112.000000,68.000000,89.550000,119.000000

In [5]:
df_train[['july_min_temp', 'july_avg_temp', 'july_max_temp', 'august_min_temp', 
'august_avg_temp', 'august_max_temp', 'september_min_temp', 'september_avg_temp', 'september_max_temp', 
'october_min_temp', 'october_avg_temp', 'october_max_temp']].describe()

,july_min_temp,july_avg_temp,july_max_temp,august_min_temp,august_avg_temp,august_max_temp,september_min_temp,september_avg_temp,september_max_temp,october_min_temp,october_avg_temp,october_max_temp
count,75757.000000,75757.000000,75757.000000,75757.000000,75757.000000,75757.000000,75757.000000,75757.000000,75757.000000,75757.000000,75757.000000,75757.000000
mean,60.571604,76.596879,95.543950,58.515068,75.348749,92.572581,50.791689,69.597545,92.171139,38.210911,58.727038,81.135671
std,4.177109,4.090275,4.157118,4.441992,3.818895,4.139685,4.290884,3.603773,5.011708,5.093899,2.641300,5.579513
min,37.000000,54.822581,65.000000,31.000000,56.693548,66.000000,26.000000,53.600000,64.000000,18.000000,44.693548,59.000000
25%,57.000000,76.145161,95.000000,57.000000,74.516129,90.000000,47.000000,68.200000,91.000000,35.000000,58.048387,78.000000
50%,63.000000,78.677419,96.000000,61.000000,75.725806,91.000000,52.000000,69.733333,92.000000,38.000000,58.758065,80.000000
75%,63.000000,78.790323,98.000000,61.000000,78.967742,95.000000,54.000000,71.800000,96.000000,40.000000,59.629032,85.000000
max,74.000000,94.435484,117.000000,77.000000,94.903226,116.000000,65.000000,90.116667,111.000000,61.000000,80.741935,108.000000

In [6]:
df_train[['november_min_temp', 'november_avg_temp', 'november_max_temp', 'december_min_temp', 'december_avg_temp', 
'december_max_temp', 'cooling_degree_days', 'heating_degree_days', 'precipitation_inches', 'snowfall_inches', 
'snowdepth_inches', 'avg_temp']].describe()

,november_min_temp,november_avg_temp,november_max_temp,december_min_temp,december_avg_temp,december_max_temp,cooling_degree_days,heating_degree_days,precipitation_inches,snowfall_inches,snowdepth_inches,avg_temp
count,75757.000000,75757.000000,75757.000000,75757.000000,75757.000000,75757.000000,75757.000000,75757.000000,75757.000000,75757.000000,75757.000000,75757.000000
mean,28.630397,48.123133,71.202397,22.736777,41.625569,64.496852,1202.250446,4324.957390,42.430651,29.136379,164.862455,56.176705
std,7.153244,4.094207,4.373374,9.014047,5.869386,6.054104,391.561780,824.366727,10.592205,17.810894,175.275869,2.241940
min,4.000000,30.766667,53.000000,-16.000000,23.790323,42.000000,0.000000,398.000000,0.000000,0.000000,0.000000,44.512329
25%,23.000000,45.250000,69.000000,17.000000,38.532258,60.000000,1128.000000,3978.000000,39.350000,9.600000,10.000000,55.147541
50%,31.000000,47.116667,72.000000,24.000000,40.516129,65.000000,1277.000000,4337.000000,42.170000,31.600000,101.000000,56.835616
75%,34.000000,51.339286,74.000000,28.000000,43.435484,71.000000,1489.000000,4670.000000,46.320000,49.100000,377.000000,57.215847
max,52.000000,67.416667,96.000000,44.000000,61.790323,86.000000,4948.000000,7929.000000,107.690000,127.300000,1292.000000,77.245205

In [7]:
df_train[['days_below_30F', 'days_below_20F', 'days_below_10F', 'days_below_0F', 'days_above_80F', 
'days_above_90F', 'days_above_100F', 'days_above_110F', 'direction_max_wind_speed', 'direction_peak_wind_speed', 
'max_wind_speed', 'days_with_fog', 'site_eui', 'id']].describe()

,days_below_30F,days_below_20F,days_below_10F,days_below_0F,days_above_80F,days_above_90F,days_above_100F,days_above_110F,direction_max_wind_speed,direction_peak_wind_speed,max_wind_speed,days_with_fog,site_eui,id
count,75757.000000,75757.000000,75757.000000,75757.000000,75757.000000,75757.000000,75757.000000,75757.000000,34675.000000,33946.000000,34675.000000,29961.000000,75757.000000,75757.000000
mean,48.756511,17.447932,4.886532,0.876764,82.709809,14.058701,0.279539,0.002442,66.552675,62.779974,4.190601,109.142051,82.584693,37878.000000
std,27.587124,14.469435,7.071221,2.894244,25.282913,10.943996,2.252323,0.142140,131.147834,130.308106,6.458789,50.699751,58.255403,21869.306509
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,12.000000,1.001169,0.000000
25%,22.000000,5.000000,0.000000,0.000000,72.000000,6.000000,0.000000,0.000000,1.000000,1.000000,1.000000,88.000000,54.528601,18939.000000
50%,50.000000,11.000000,2.000000,0.000000,84.000000,12.000000,0.000000,0.000000,1.000000,1.000000,1.000000,104.000000,75.293716,37878.000000
75%,66.000000,26.000000,7.000000,0.000000,97.000000,17.000000,0.000000,0.000000,1.000000,1.000000,1.000000,131.000000,97.277534,56817.000000
max,170.000000,93.000000,59.000000,31.000000,260.000000,185.000000,119.000000,16.000000,360.000000,360.000000,23.300000,311.000000,997.866120,75756.000000

In [8]:
df_train[['State_Factor', 'building_class', 'facility_type']].describe()

       State_Factor building_class              facility_type
count         75757          75757                      75757
unique            7              2                         60
top         State_6    Residential  Multifamily_Uncategorized
freq          50840          43558                      39455

In [9]:
len(['Year_Factor', 'floor_area', 'year_built', 'energy_star_rating', 'ELEVATION', 'january_min_temp', 'january_avg_temp', 
'january_max_temp', 'february_min_temp', 'february_avg_temp', 'february_max_temp','march_min_temp', 'march_avg_temp', 'march_max_temp', 'april_min_temp', 'april_avg_temp', 
'april_max_temp', 'may_min_temp', 'may_avg_temp', 'may_max_temp','june_min_temp', 'june_avg_temp', 
'june_max_temp', 'july_min_temp', 'july_avg_temp', 'july_max_temp', 'august_min_temp', 
'august_avg_temp', 'august_max_temp', 'september_min_temp', 'september_avg_temp', 'september_max_temp', 
'october_min_temp', 'october_avg_temp', 'october_max_temp', 'november_min_temp', 'november_avg_temp', 'november_max_temp', 'december_min_temp', 'december_avg_temp', 
'december_max_temp', 'cooling_degree_days', 'heating_degree_days', 'precipitation_inches', 'snowfall_inches', 
'snowdepth_inches', 'avg_temp', 'days_below_30F', 'days_below_20F', 'days_below_10F', 'days_below_0F', 'days_above_80F', 
'days_above_90F', 'days_above_100F', 'days_above_110F', 'direction_max_wind_speed', 'direction_peak_wind_speed', 
'max_wind_speed', 'days_with_fog', 'site_eui', 'id','State_Factor', 'building_class', 'facility_type'])

64

In [10]:
#data cleaning
print(dict(df_train.isna().sum()))
print(dict(df_test.isna().sum()))

{'Year_Factor': 0, 'State_Factor': 0, 'building_class': 0, 'facility_type': 0, 'floor_area': 0, 'year_built': 1837, 'energy_star_rating': 26709, 'ELEVATION': 0, 'january_min_temp': 0, 'january_avg_temp': 0, 'january_max_temp': 0, 'february_min_temp': 0, 'february_avg_temp': 0, 'february_max_temp': 0, 'march_min_temp': 0, 'march_avg_temp': 0, 'march_max_temp': 0, 'april_min_temp': 0, 'april_avg_temp': 0, 'april_max_temp': 0, 'may_min_temp': 0, 'may_avg_temp': 0, 'may_max_temp': 0, 'june_min_temp': 0, 'june_avg_temp': 0, 'june_max_temp': 0, 'july_min_temp': 0, 'july_avg_temp': 0, 'july_max_temp': 0, 'august_min_temp': 0, 'august_avg_temp': 0, 'august_max_temp': 0, 'september_min_temp': 0, 'september_avg_temp': 0, 'september_max_temp': 0, 'october_min_temp': 0, 'october_avg_temp': 0, 'october_max_temp': 0, 'november_min_temp': 0, 'november_avg_temp': 0, 'november_max_temp': 0, 'december_min_temp': 0, 'december_avg_temp': 0, 'december_max_temp': 0, 'cooling_degree_days': 0, 'heating_degree_days': 0, 'precipitation_inches': 0, 'snowfall_inches': 0, 'snowdepth_inches': 0, 'avg_temp': 0, 'days_below_30F': 0, 'days_below_20F': 0, 'days_below_10F': 0, 'days_below_0F': 0, 'days_above_80F': 0, 'days_above_90F': 0, 'days_above_100F': 0, 'days_above_110F': 0, 'direction_max_wind_speed': 41082, 'direction_peak_wind_speed': 41811, 'max_wind_speed': 41082, 'days_with_fog': 45796, 'site_eui': 0, 'id': 0}
{'Year_Factor': 0, 'State_Factor': 0, 'building_class': 0, 'facility_type': 0, 'floor_area': 0, 'year_built': 92, 'energy_star_rating': 2254, 'ELEVATION': 0, 'january_min_temp': 0, 'january_avg_temp': 0, 'january_max_temp': 0, 'february_min_temp': 0, 'february_avg_temp': 0, 'february_max_temp': 0, 'march_min_temp': 0, 'march_avg_temp': 0, 'march_max_temp': 0, 'april_min_temp': 0, 'april_avg_temp': 0, 'april_max_temp': 0, 'may_min_temp': 0, 'may_avg_temp': 0, 'may_max_temp': 0, 'june_min_temp': 0, 'june_avg_temp': 0, 'june_max_temp': 0, 'july_min_temp': 0, 'july_avg_temp': 0, 'july_max_temp': 0, 'august_min_temp': 0, 'august_avg_temp': 0, 'august_max_temp': 0, 'september_min_temp': 0, 'september_avg_temp': 0, 'september_max_temp': 0, 'october_min_temp': 0, 'october_avg_temp': 0, 'october_max_temp': 0, 'november_min_temp': 0, 'november_avg_temp': 0, 'november_max_temp': 0, 'december_min_temp': 0, 'december_avg_temp': 0, 'december_max_temp': 0, 'cooling_degree_days': 0, 'heating_degree_days': 0, 'precipitation_inches': 0, 'snowfall_inches': 0, 'snowdepth_inches': 0, 'avg_temp': 0, 'days_below_30F': 0, 'days_below_20F': 0, 'days_below_10F': 0, 'days_below_0F': 0, 'days_above_80F': 0, 'days_above_90F': 0, 'days_above_100F': 0, 'days_above_110F': 0, 'direction_max_wind_speed': 8575, 'direction_peak_wind_speed': 8575, 'max_wind_speed': 8575, 'days_with_fog': 9117, 'id': 0}

In [11]:
#handeling nans

# fill days_with_fog nans with 0. It is a reasonable assumption that there were no foggy days at these locations.
df_train['days_with_fog'] = df_train['days_with_fog'].fillna(0)
df_test['days_with_fog'] = df_test['days_with_fog'].fillna(0)

# max_wind_speed, direction_peak_wind_speed, direction_max_wind_speed: could impute with average of column or 
# zero, could delete rows (would leave less than 50% of the data) 

for i in ['max_wind_speed', 'direction_peak_wind_speed', 'direction_max_wind_speed','energy_star_rating']:
    df_cols = [df_train[i], df_test[i]]
    df = pd.concat(df_cols)
    avg = df.mean()
    print(avg)
    df_train[i] = df_train[i].fillna(avg)
    df_test[i] = df_test[i].fillna(avg)

# energy_star_rating, year_built: impute with mean of column? Correlation with site_eui for reasonability?
for i in ['year_built']:
    df_cols = [df_train[i], df_test[i]]
    df = pd.concat(df_cols)
    avg = df.mean()
    print(avg)
    df_train[i] = df_train[i].fillna(round(avg, 2))
    df_test[i] = df_test[i].fillna(round(avg, 2))

print(dict(df_train.isna().sum()))
print(dict(df_test.isna().sum()))

4.630568356374808
70.75062720948797
74.60645161290323
61.531850121241085
1953.5626159721307
{'Year_Factor': 0, 'State_Factor': 0, 'building_class': 0, 'facility_type': 0, 'floor_area': 0, 'year_built': 0, 'energy_star_rating': 0, 'ELEVATION': 0, 'january_min_temp': 0, 'january_avg_temp': 0, 'january_max_temp': 0, 'february_min_temp': 0, 'february_avg_temp': 0, 'february_max_temp': 0, 'march_min_temp': 0, 'march_avg_temp': 0, 'march_max_temp': 0, 'april_min_temp': 0, 'april_avg_temp': 0, 'april_max_temp': 0, 'may_min_temp': 0, 'may_avg_temp': 0, 'may_max_temp': 0, 'june_min_temp': 0, 'june_avg_temp': 0, 'june_max_temp': 0, 'july_min_temp': 0, 'july_avg_temp': 0, 'july_max_temp': 0, 'august_min_temp': 0, 'august_avg_temp': 0, 'august_max_temp': 0, 'september_min_temp': 0, 'september_avg_temp': 0, 'september_max_temp': 0, 'october_min_temp': 0, 'october_avg_temp': 0, 'october_max_temp': 0, 'november_min_temp': 0, 'november_avg_temp': 0, 'november_max_temp': 0, 'december_min_temp': 0, 'december_avg_temp': 0, 'december_max_temp': 0, 'cooling_degree_days': 0, 'heating_degree_days': 0, 'precipitation_inches': 0, 'snowfall_inches': 0, 'snowdepth_inches': 0, 'avg_temp': 0, 'days_below_30F': 0, 'days_below_20F': 0, 'days_below_10F': 0, 'days_below_0F': 0, 'days_above_80F': 0, 'days_above_90F': 0, 'days_above_100F': 0, 'days_above_110F': 0, 'direction_max_wind_speed': 0, 'direction_peak_wind_speed': 0, 'max_wind_speed': 0, 'days_with_fog': 0, 'site_eui': 0, 'id': 0}
{'Year_Factor': 0, 'State_Factor': 0, 'building_class': 0, 'facility_type': 0, 'floor_area': 0, 'year_built': 0, 'energy_star_rating': 0, 'ELEVATION': 0, 'january_min_temp': 0, 'january_avg_temp': 0, 'january_max_temp': 0, 'february_min_temp': 0, 'february_avg_temp': 0, 'february_max_temp': 0, 'march_min_temp': 0, 'march_avg_temp': 0, 'march_max_temp': 0, 'april_min_temp': 0, 'april_avg_temp': 0, 'april_max_temp': 0, 'may_min_temp': 0, 'may_avg_temp': 0, 'may_max_temp': 0, 'june_min_temp': 0, 'june_avg_temp': 0, 'june_max_temp': 0, 'july_min_temp': 0, 'july_avg_temp': 0, 'july_max_temp': 0, 'august_min_temp': 0, 'august_avg_temp': 0, 'august_max_temp': 0, 'september_min_temp': 0, 'september_avg_temp': 0, 'september_max_temp': 0, 'october_min_temp': 0, 'october_avg_temp': 0, 'october_max_temp': 0, 'november_min_temp': 0, 'november_avg_temp': 0, 'november_max_temp': 0, 'december_min_temp': 0, 'december_avg_temp': 0, 'december_max_temp': 0, 'cooling_degree_days': 0, 'heating_degree_days': 0, 'precipitation_inches': 0, 'snowfall_inches': 0, 'snowdepth_inches': 0, 'avg_temp': 0, 'days_below_30F': 0, 'days_below_20F': 0, 'days_below_10F': 0, 'days_below_0F': 0, 'days_above_80F': 0, 'days_above_90F': 0, 'days_above_100F': 0, 'days_above_110F': 0, 'direction_max_wind_speed': 0, 'direction_peak_wind_speed': 0, 'max_wind_speed': 0, 'days_with_fog': 0, 'id': 0}

In [12]:
df_train[['days_with_fog','max_wind_speed', 'direction_peak_wind_speed', 'energy_star_rating', 'year_built']].describe()

,days_with_fog,max_wind_speed,direction_peak_wind_speed,energy_star_rating,year_built
count,75757.000000,75757.000000,75757.000000,75757.000000,75757.000000
mean,43.164394,4.429190,67.179052,61.218979,1952.337153
std,62.165032,4.375123,87.316994,23.064894,36.602115
min,0.000000,1.000000,1.000000,0.000000,0.000000
25%,0.000000,1.000000,1.000000,56.000000,1927.000000
50%,0.000000,4.630568,70.750627,61.531850,1953.000000
75%,99.000000,4.630568,70.750627,76.000000,1976.000000
max,311.000000,23.300000,360.000000,100.000000,2015.000000

In [13]:
#split data
X = df_train[['Year_Factor', 'State_Factor', 'building_class', 'facility_type', 'floor_area', 
            'year_built', 'energy_star_rating', 'ELEVATION', 'january_min_temp', 'january_avg_temp', 
            'january_max_temp', 'february_min_temp', 'february_avg_temp', 'february_max_temp', 'march_min_temp', 
            'march_avg_temp', 'march_max_temp', 'april_min_temp', 'april_avg_temp', 'april_max_temp', 
            'may_min_temp', 'may_avg_temp', 'may_max_temp', 'june_min_temp', 'june_avg_temp', 'june_max_temp', 
            'july_min_temp', 'july_avg_temp', 'july_max_temp', 'august_min_temp', 'august_avg_temp', 
            'august_max_temp', 'september_min_temp', 'september_avg_temp', 'september_max_temp', 'october_min_temp', 
            'october_avg_temp', 'october_max_temp', 'november_min_temp', 'november_avg_temp', 'november_max_temp',
            'december_min_temp', 'december_avg_temp', 'december_max_temp', 'cooling_degree_days', 
            'heating_degree_days', 'precipitation_inches', 'snowfall_inches', 'snowdepth_inches', 'avg_temp', 
            'days_below_30F', 'days_below_20F', 'days_below_10F', 'days_below_0F', 'days_above_80F', 'days_above_90F', 
            'days_above_100F', 'days_above_110F', 'direction_max_wind_speed', 'direction_peak_wind_speed', 
            'max_wind_speed', 'days_with_fog']]
y = df_train['site_eui']

# deal with categorical data
# concat data frames so I can apply the cat codes correctly
n_X = X.shape[0]
n_test = df_test.shape[0]
frames = [X, df_test]
result = pd.concat(frames)
for col in ['State_Factor', 'building_class', 'facility_type']:
    result[col] = result[col].astype('category')
result[['State_Factor', 'building_class', 'facility_type']] = result[['State_Factor', 'building_class', 'facility_type']].apply(lambda x: x.cat.codes)
# split back to separate data frames
X = result.head(n_X)
df_test = result.tail(n_test)
# df_train[['State_Factor', 'building_class', 'facility_type']].describe()

X[['State_Factor', 'building_class', 'facility_type']].describe()

       State_Factor  building_class  facility_type
count  75757.000000    75757.000000   75757.000000
mean       4.237998        0.574970      25.931914
std        1.549536        0.494351      11.645404
min        0.000000        0.000000       0.000000
25%        4.000000        0.000000      27.000000
50%        5.000000        1.000000      27.000000
75%        5.000000        1.000000      30.000000
max        6.000000        1.000000      59.000000

In [14]:
# drop 'id' column 
X = X.drop(['id'], axis = 1)
df_test = df_test.drop(['id'], axis = 1)

In [15]:
from sklearn.ensemble import RandomForestRegressor

model = RandomForestRegressor(max_depth=2, random_state=0)
model.fit(X, y)
results = model.predict(df_test)

In [39]:
#inspect results
a = results.shape[0]
print(a)
b = df_train.shape[0] + 1
print(b)
c = df_train['id'].iloc[:a]
d = []
for i in c:
    e = i + b
    d.append(e)

final_results = pd.DataFrame({'id': d, 'site_eui': results}).set_index('id')
# pd.DataFrame(d).set_index('Index Title').rename_axis('Col Name', axis=1)
# index = final_results.index
# index.name = "id"

# site_eui
# print(final_results.to_csv(index=False))

print(final_results)

9705
75758
         site_eui
id
75758   89.745971
75759   87.206847
75760  185.442606
75761   89.745971
75762   89.745971
...           ...
85458   50.365408
85459   54.246250
85460   54.246250
85461   63.466484
85462   59.466458

[9705 rows x 1 columns]

In [17]:
#conclusion